.heading {
    text-align: center;
    color: red;
    height: 5px;
}

h1 {
    color: rgb(124, 153, 28);
}

h1.highlight {
    color: black;
    

}

ul li:last-child {
    color: brown;
}

a:hover {
    color: red;
}

.element {
    margin: 100px;
    padding: 10px;
}
h1.name {
    
    width: 200px;
    height: 150px;
}
img {
    border: 2px dotted coral;
    width: 200px;
}
.square-list {
    list-style-type: square;
 
}
.decimal{
    list-style-type: decimal;
}

ul {
    list-style-type: none;
} 
.colored-table td {
   
    background-color:coral ;
  }
  .border-collapsed {
    border-collapse: collapse;
    background-color:red;

 }
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
     margin-left: 20px; 
  }
  
  nav ul li:first-child {
    margin-left: 0;
  } 
  
  .container {
    display: flex;
    background-color: blue;
  }
  .column1 {
    width: 100px;
    background-color: aliceblue;
}
  .column2 {
    background-color: aqua;
    flex:1;
     }
   .column3 {
    background-color: aquamarine;
    width: 300px;
   }
  


  .Kick {
    width: 50;
    height: 200px;
    border: 3px solid black;
    background-color:blue;
  
   }
   .stick {
    width:25%;
    height: 100px;
    position: sticky;
    border: 3px solid black;
    position: -webkit-sticky;
    top: 0%;
    background-color: blanchedalmond;
   }

   .content {
    justify-content: space-between;
    display: flex;
   }
  
   .bottom {
    bottom: 0%;
    border: 3px;
    background-color: rgb(217, 215, 250);
    text-align: right;
    position: sticky;
   }

   .container {
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid #ecb4b4;
    box-sizing: border-box;
     text-align: center;
  }
    .super {
      background-color: aqua;
      text-align: center;
      position: sticky;
      position: -webkit-sticky;
      bottom: 0px;
    }

    .center {
      position: relative;
      width: 300px;
      height: 200px;
      border: 2px solid ;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  .element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 2px solid #ecb4b4;
  }
  ul.nav {
    background-color: black;
  }

  ul.nav li {
    display: inline-block;
    margin-right: 10px;
  }

  .hidden {
    width: 250px;
    height: 100px;
    overflow: hidden;
    border: 1px solid red;
    background-color:bisque;
  }
  .scroll {
    width: 300px;
    height: 100px;
    overflow: scroll;
    background-color: aliceblue;
    border: #ecb4b4;
  }
  .auto {
    width: 400px;
    height: 100px;
    overflow: auto;
    background-color: blanchedalmond;
  }
.horizontal {
  width: 100px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: aliceblue;
  }

  